pkgbase = prismsearch
	pkgdesc = Hybrid search engine combining full-text and vector search for AI/RAG applications
	pkgver = 0.6.2
	pkgrel = 1
	url = https://github.com/mikalv/prism
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = rust
	depends = gcc-libs
	source = prismsearch-0.6.2.tar.gz::https://github.com/mikalv/prism/archive/v0.6.2.tar.gz
	sha256sums = 54b513d9a3c655d22f59a31ec401bb87e7d3ac9aa3316aee470fcdb6643bfc77

pkgname = prismsearch
